// disable animations
:root {
    --animate-duration: 0 !important;
}

// justify post content
.single .content p {
    text-align: justify;
}

// summary on main page
.home[posts] .summary .content {
    color: gray !important;
}

// disable tags wrapping
.post-category > a {
    white-space: nowrap;
}

// disable date wrapping
.post-footer > .post-publish > time {
    white-space: nowrap;
}

figcaption.image-caption {
    display: none !important;
}